:root {
    font-family: Arial, sans-serif;
    --background: #f8f2dd;
    --foreground: #f7f7f0;
    --primary-color: #c9e2b8;
    --secondary-color: #fff;
    --accent-color: #ffa4a4;
    --button-primary: #ffffff;
    --button-primary-hover: #fafafa;
    --button-primary-active: #cfcccc;
    --button-secondary: #ffe44d;
    --button-secondary-hover: #f1cf34;
    --button-secondary-active: #ccaf2c;
    --button-disabled: #a5a5a5;
    --text-color: #000000;
    --alt-text-color: #ffffff;
    --major-action: #ff6347;
    --major-action-hover: rgb(192, 45, 22);
    --major-action-active: #9b3e2e;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
