:root {
    font-family: Arial, sans-serif;
    --primary-color: #fff;
    --secondary-color: #fff;
    --accent-color: #fff;
    --button-primary: #fff;
    --button-primary-hover: #fff;
    --button-primary-active: #fff;
    --button-secondary: #fff;
    --button-secondary-hover: #fff;
    --button-secondary-active: #fff;
}


